/* common */
body {
  margin: 0;
  padding: 0px;
}

.section_container {
  max-width: 1222px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__header {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.35;
  color: #313131;
  text-transform: uppercase;
}

.section__header--naming {
  color: #f54932;
  font-weight: bold;
}

.button {
  width: 263px;
  height: 72px;
  border-radius: 36px;
  border: none;
  background-color: transparent;
  padding: 0px;
  transition: all 0.5s;
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  padding: 10px 49px;
  color: #1f1f1f;
}

.cell {
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: #313131;
  padding: 15px 0;
}

.cell_last {
  border-bottom: none !important;
}

/* hero section */

.hero_section__wrapper {
  background-color: #e9ded4;
  height: 700px;
  display: flex;
  justify-content: center;
  background-image: url("images/background.png");
  background-position: center;
}

.hero_section__container {
  width: 1222px;
  margin-top: 26px;
}

.hero_section__content {
  max-width: 542px;
}

.hero_section__logo {
  width: 245px;
  height: 36px;
}

.hero_section__header {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
  text-transform: uppercase;
  line-height: 66px;
  margin-top: 57px;
  margin-bottom: 24px;
  color: #313131;
}

.hero_section__header--third_line,
.hero_section__header--fourth_line {
  display: block;
}

.hero_section__header--third_line {
  margin-left: 91px;
}

.hero_section__header--fourth_line {
  margin-left: 34px;
}

.hero_section__slogan {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.3;
  color: #313131;
  max-width: 542px;
  text-align: center;
  margin-bottom: 40px;
}

.hero_section__buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.hero_section__button--primary {
  background-color: #1f1f1f;
  color: #ffffff;
}

.hero_section__button--primary:hover {
  background-color: #fbce51;
  color: #1f1f1f;
}

.hero_section__button--secondary {
  border: 2px solid #1f1f1f;
}

.hero_section__button--secondary:hover {
  background-color: #1f1f1f;
  color: #ffffff;
}

/* ticker */

.ticker__wrapper {
  max-width: 100%;
  overflow: hidden;
  background-color: #f54932;
}

.ticker {
  height: 60px;
  width: 2335px;
  background-color: #f54932;
  display: flex;
  align-items: center;
  white-space: nowrap;
  animation: ticker 25s linear infinite;
}

.ticker__phrase {
  display: inline-block;
  font-family: "Merriweather", serif;
  font-weight: 500;
  line-height: 1.1;
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* support section */

.support_section__container {
  max-width: 1222px;
  gap: 64px;
  margin: 70px auto 30px;
}

/* simultaneous game section */

.simultaneous_game_section__container {
  gap: 16px;
  margin: 0 auto 200px;
}

.simultaneous_game_section__content {
  align-self: stretch;
}

.simultaneous_game_section__image {
  margin-left: -25px;
}

.simultaneous_game_section__header {
  margin-top: 27px;
  margin-bottom: 47px;
}

.simultaneous_game_section__table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 34px;
}

.simultaneous_game_section__key {
  border-right: 2px solid #d0d0d0;
  border-bottom: 2px solid #d0d0d0;
  width: 304px;
}

.simultaneous_game_section__value {
  border-bottom: 2px solid #d0d0d0;
  padding-left: 16px;
  font-weight: 600;
}

.simultaneous_game_section__outdated {
  text-decoration: line-through;
  text-decoration-color: #f54932;
}

.simultaneous_game_section__link {
  color: #3087a2;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
}
