/* common styles */
body {
  margin: 0;
  padding: 0px;
}

button {
  transition: all 0.5s;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
}

.section_container {
  max-width: 1222px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  font-family: "Merriweather", serif;
  font-weight: 400;
  line-height: 1.35;
  font-size: 54px;
  color: #313131;
  text-transform: uppercase;
}

.header--naming {
  color: #f54932;
  font-weight: bold;
}

.button {
  width: 263px;
  height: 72px;
  border-radius: 36px;
  border: none;
  background-color: transparent;
  padding: 0px;
  font-weight: 500;
  line-height: 1.3;
  padding: 10px 49px;
  color: #1f1f1f;
}

.button_info {
  width: 113px;
  height: 35px;
  border-radius: 18px;
  border: 1px solid #3057a2;
  color: #3057a2;
  background-color: transparent;
  line-height: 1.2;
}

.button_info:hover {
  background-color: #3057a2;
  color: #ffffff;
}

.label {
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: #313131;
  padding: 15px 0;
}

.cell_last {
  border-bottom: none !important;
}

.link {
  color: #3087a2;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
}

/* hero section */

.hero_section__wrapper {
  background-color: #e9ded4;
  height: 700px;
  display: flex;
  justify-content: center;
  background-image: url("images/background.png");
  background-position: center;
}

.hero_section__container {
  width: 1222px;
  margin-top: 26px;
}

.hero_section__content {
  max-width: 542px;
}

.hero_section__logo {
  width: 245px;
  height: 36px;
}

.hero_section__header {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
  text-transform: uppercase;
  line-height: 66px;
  margin-top: 57px;
  margin-bottom: 24px;
  color: #313131;
}

.hero_section__header--third_line,
.hero_section__header--fourth_line {
  display: block;
}

.hero_section__header--third_line {
  margin-left: 91px;
}

.hero_section__header--fourth_line {
  margin-left: 34px;
}

.hero_section__slogan {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.3;
  color: #313131;
  max-width: 542px;
  text-align: center;
  margin-bottom: 40px;
}

.hero_section__buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.hero_section__button--primary {
  background-color: #1f1f1f;
  color: #ffffff;
}

.hero_section__button--primary:hover {
  background-color: #fbce51;
  color: #1f1f1f;
}

.hero_section__button--secondary {
  border: 2px solid #1f1f1f;
}

.hero_section__button--secondary:hover {
  background-color: #1f1f1f;
  color: #ffffff;
}

/* ticker */

.ticker__wrapper {
  max-width: 100%;
  overflow: hidden;
  background-color: #f54932;
}

.ticker {
  height: 60px;
  width: 2335px;
  background-color: #f54932;
  display: flex;
  align-items: center;
  white-space: nowrap;
  animation: ticker 25s linear infinite;
}

.ticker__phrase {
  display: inline-block;
  font-family: "Merriweather", serif;
  font-weight: 500;
  line-height: 1.1;
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* support section */

.support_section__container {
  max-width: 1222px;
  gap: 64px;
  margin: 70px auto 30px;
}

.support_section__header {
  font-size: 36px;
}

/* simultaneous game section */

.simultaneous_game_section__container {
  gap: 16px;
  margin: 0 auto 187px;
}

.simultaneous_game_section__content {
  align-self: stretch;
}

.simultaneous_game_section__image {
  margin-left: -28px;
}

.simultaneous_game_section__header {
  font-size: 36px;
  margin-top: 27px;
  margin-bottom: 47px;
}

.simultaneous_game_section__table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 34px;
}

.simultaneous_game_section__key {
  border-right: 2px solid #d0d0d0;
  border-bottom: 2px solid #d0d0d0;
  width: 304px;
}

.simultaneous_game_section__value {
  border-bottom: 2px solid #d0d0d0;
  padding-left: 16px;
  font-weight: 600;
}

.simultaneous_game_section__outdated {
  text-decoration: line-through;
  text-decoration-color: #f54932;
}

/* stages section */

.stages__container {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 225px;
}

.stages__header_container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 54px;
}

.stages__header {
  max-width: 806px;
  margin: 0;
  line-height: 1.2;
}

.stages__link {
  max-width: 280px;
  margin-left: -505px;
  margin-bottom: 9px;
}

.stages__grid_container {
  display: grid;
  grid-template-columns: repeat(3, 394px);
  grid-template-rows: repeat(3, 112px);
  gap: 20px;
  position: relative;
}

.stages__grid_item {
  padding: 20px;
  padding-left: 72px;
  margin: 0;
  font-family: "Golos Text", sans-serif;
  box-sizing: border-box;
}

.stages__grid_item--1 {
  background-image: url("images/grid-item-1.png");
}

.stages__grid_item--2 {
  background-image: url("images/grid-item-2.png");
}

.stages__grid_item--tall {
  grid-row: span 2;
  background-image: url("images/grid-item-3.png");
}

.stages__grid_item--4 {
  background-image: url("images/grid-item-4.png");
}

.stages__grid_item--5 {
  background-image: url("images/grid-item-5.png");
}

.stages__grid_item--6 {
  background-image: url("images/grid-item-6.png");
  height: 136px;
}

.stages__grid_item--wide {
  background-image: url("images/grid-item-7.png");
  grid-column: span 2;
  height: 136px;
}

.stages__image {
  position: absolute;
  bottom: -26px;
  right: -64px;
}

/* participants section */
.participants__container {
  max-width: 1222px;
  margin: 0 auto 140px;
}

.participants__header_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
  margin-bottom: 60px;
}

.participants__header {
  margin: 0;
  line-height: 1.2;
}

.participants__conrols {
  align-items: center;
  display: flex;
  gap: 14px;
}

.participants__page {
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #313131;
  letter-spacing: 3px;
}

.participants__button {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: #313131;
  border: none;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.participants__button:hover {
  background-color: #fbce51;
}

.participant__button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

.participants__arrow {
  position: absolute;
  width: 13px;
  height: 13px;
  display: block;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(45deg);
  top: 14px;
  left: 18px;
}

.participants__arrow--right {
  transform: rotate(225deg);
  left: 11px;
}

.participants__grid {
  display: flex;
  justify-content: space-between;
}

.participants__participant {
  width: 394px;
  height: 462px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.participant__image {
  width: 320px;
  height: 320px;
  margin-bottom: 28px;
}

.participant__name {
  font-family: "Golos Text", serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 8px;
}

.participant__title {
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
}

.participant__button {
  width: 160px;
  height: 40px;
  background-color: #1f1f1f;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.participant__button:hover {
  background-color: #fbce51;
  color: #1f1f1f;
}

/* footer */
.footer {
  height: 150px;
  background-color: #e9ded4;
}

.footer__text {
  margin: 0;
  padding-top: 40px;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  color: #313131;
  text-align: start;
}
